In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Resources/regional.xlsx", sheet_name='Sheet1')
df.head()

,Regional Sales Q1,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Region,Sales Person,Amount,Total
1,North-West,Tim,3000,24700
2,South-East,Ashley,1500,NaN
3,South-East,Tim,900,NaN
4,South-West,Jeff,1000,NaN

In [3]:
df.columns = ['Region', 'Sales Person', 'Amount', 'Total']

In [4]:
df.to_html("index.html")